@media (max-width: 1400px) {
  .container {
    width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .nickname {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
    padding-top: 2rem;
  }
  .container {
    width: 540px;
  }
  html {
    font-size: 14px;
  }
  .menu__login-wrapper {
    flex-direction: column;
    gap: 4rem;
  }
  .menu__login-wrapper > * {
    width: 100%;
  }
  .playground {
    flex: 0 0 60vh;
    gap: 1rem;
  }
  .scoreboard {
    flex: 0 0 40vh;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .menu__title {
    font-size: 4rem;
  }
}
