* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
}

.menu {
  display: flex;
  background-color: black;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.menu__logIn {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 50%;
  background-color: aliceblue;
  border-radius: 25px;
}

.menu__player-wrapper {
  display: flex;
  flex-direction: column;
}

.menu__label {
  font-size: 1.5rem;
}

.menu__input {
  border-radius: 10px;
  border: 1px solid;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.playground {
  display: none;
  background-color: black;
  flex-direction: column;
  flex: 10;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  background-color: aliceblue;
  height: 100vh;
  padding: 1rem;
}

.dice-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 3rem;
}

.dice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8rem;
  height: 8rem;
  background-color: white;
  border-radius: 15%;
  padding: 1rem;
}

.dice__row {
  height: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dice__dot {
  display: none;
  width: 1.75rem;
  height: 1.75rem;
  background-color: black;
  border-radius: 100%;
}

.button {
  margin: 0 auto;
  width: 10rem;
  height: 3rem;
  color: white;
  border: 0px;
  border-radius: 15px;
}
.button_play {
  background-color: green;
}
.button_stop {
  background-color: red;
}
.nickname {
    color: white;
    font-size: 2rem;
}
.nicknames-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.center {
  justify-content: center;
}
.display {
  display: block;
}
.end {
  justify-content: flex-end;
}
.dflex {
  display: flex;
}

.dnone {
  display: none;
}
