* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

:root {
  --white: #efece3;
  --lightBlue: #8fabd4;
  --blue: #4a70a9;
}
main {
  display: flex;
}

.menu {
  display: flex;
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.menu__title {
  font-size: 5rem;
  font-weight: 900;
  font-family: "Bungee Shade", sans-serif;
}

.menu__logIn {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 50%;
  background-color: var(--lightBlue);
  border-radius: 40px;
}

.menu__player-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu__label {
  font-size: 1.5rem;
  font-weight: 700;
}

.menu__input {
  border-radius: 10px;
  border: 1px solid;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}

.playground {
  display: none;
  background-color: var(--lightBlue);
  flex-direction: column;
  flex: 10;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: none;
  flex-direction: column;
  gap: 4rem;
  /* justify-content: space-between; */
  flex: 2;
  background-color: var(--white);
  border-left: 2px solid black;
  height: 100vh;
  padding: 1rem;
}

.dice-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  gap: 3rem;
}

.dice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8rem;
  height: 8rem;
  background-color: white;
  border-radius: 15%;
  padding: 1rem;
  border: 2px solid black;
  transition: 0.5s all ease-in-out;
  transform: rotate(-720deg);
}

.dice__row {
  height: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dice__dot {
  display: none;
  width: 1.75rem;
  height: 1.75rem;
  background-color: black;
  border-radius: 100%;
}

.button {
  transition: 0.2s all ease;
  margin: 0 auto;
  width: 10rem;
  height: 3rem;
  color: white;
  border: 0px;
  border-radius: 15px;
}
.button_play {
  background-color: var(--blue);
}
.button:hover {
  background-color: black;
  color: var(--white);
}
.button_stop {
  background-color: red;
  margin-top: auto;
}
.nickname {
  color: black;
  font-weight: 900;
  font-size: 2.5rem;
}
.nicknames-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.center {
  justify-content: center;
}
.display {
  display: block;
}
.end {
  justify-content: flex-end;
}
.dflex {
  display: flex;
}

.dnone {
  display: none;
}

.rotate {
  transform: rotate(1080deg);
}

.dice_winner {
  transition: 0.5s all ease-in-out;
  transform: rotate(720deg) translateY(-50px);
}

.player_winner {
  transition: 0.3s all ease-in-out;
  color: gold;
}

.scoreboard__table {
  border: 2px solid black;
  border-collapse: collapse;
}

.scoreboard__row {
  position: relative;
  border: 2px solid black;
}

.scoreboard__nickname {
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  border: 3px solid black;
  width: 50%;
}

.scoreboard__cell {
  padding: 0.5rem;
  text-align: center;
  border: 3px solid black;
  width: 50%;
}
